.card{
    margin-left: 50px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
   
}
.card-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}